:root {
  --color-black: #000000;
  --color-primary: #34547a;
  --color-secondary: #727272;
  --color-gray-light: #eeeff1;
  --color-light: #f9f9f9;
  --color-white: #ffffff;

  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
  --letter-spacing: 0.1em;

  --line-height: 1.2;
  --line-height-primary: 26.25px;
  --line-height-lg: 1.64;

  --container-primary: 1110px;
  --container-sm: 540;

  --front-weight-sm: 300;
  --front-weight-md: 400;
  --front-weight-lg: 500;

  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2);
  --gap-md: calc(var(--gap) * 1.5);
  --gap-lg: calc(var(--gap) * 2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--front-weight-md);
  line-height: var(--line-height-primary);
  text-align: left;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: min(100% - var(--gap-lg), var(--container-primary));
  margin-inline: auto;
}
.container--sm {
  width: min(100% - var(--gap-lg), var(--container-sm));
}

.header {
  padding-top: 79px;
  padding-bottom: 141px;
  background-color: var(--color-gray-light);
}
.navbar {
  margin-bottom: 112px;
}
.navbar-list {
  display: flex;
  gap: var(--gap-lg);
}
.navbar-link {
  color: var(--color-black);
  letter-spacing: var(--letter-spacing);
  padding: var(--gap-sm) 3px var(--gap-sm) 0;
}
.navbar-link--active {
  color: var(--color-primary);
  font-weight: var(--front-weight-lg);
}
.navbar-link--weight--default {
  font-weight: var(--front-weight-md);
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  align-items: flex-start;
}

.content__title {
  font-size: 3rem;
  font-weight: var(--front-weight-lg);
  line-height: calc( var(--line-height-primary) * 3);
  margin-bottom: 34px;
}
.content__description {
  padding-left: 1px;
  margin-bottom: 56px;
  color: var(--color-black);
}
.content__link {
  min-width: 225px;
  min-height: 65px;
  color: var(--color-white);
  background-color: var(--color-primary);
  letter-spacing: var(--letter-spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7px;
}

.section {
  background-color: var(--color-light);
  padding-top: 113px;
  padding-bottom: 91px;
  padding-left: 12px;
}
.section__title {
  font-size: 2rem;
  font-weight: var(--front-weight-lg);
  line-height: 37.5px;
  text-align: center;
  padding-bottom: 39px;
}
.section__description {
  color: var(--color-black);
  font-weight: var(--front-weight-md);
  line-height: var(--line-height-primary);
  text-align: center;
}

.experience {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 100px 0 92px 18px;
}
.experience__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: var(--gap-md);
}
.experience-item {
  display: flex;
  gap: var(--gap);
  padding-right: 20px;
}
.experience-item--pading--sm {
  padding-left: 1px;
  padding-right: 16px;
}
.experience-item__description {
  display: flex;
  flex-direction: column;
}
.experience-item__number {
  font-size: 1.3125rem;
  font-weight: var(--front-weight-lg);
  padding-top: 2px;
  padding-bottom: 1px;
}
.experience-item__image {
  order: -1;
}

.process {
  padding-top: 101px;
  padding-bottom: 47px;
}

.video {
  background-color: var(--color-light);
}
.video__iframe {
  border: 0;
  width: 1116px;
  height: 600px;
  top: 1613px;
  left: 405px;
  padding-left: 6px;
  margin-bottom: 92px;
}

.footer {
  padding: 50px 0 44px;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.footer__name {
  font-size: 21px;
  font-weight: var(--front-weight-lg);
  line-height: 24.61px;
  text-align: left;
  padding-bottom: 11px;
  padding-left: 7px;
}
.footer__copyright {
  font-size: 13px;
  font-weight: var(--front-weight-md);
  line-height: 21.33px;
  text-align: left;
  padding-left: 7px;
}
