:root {
  --color-black: #000000;
  --color-primary: #34547a;
  --color-secondary: #727272;
  --color-gray-light: #eeeff1;
  --color-light: #f9f9f9;
  --color-white: #ffffff;

  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
  --letter-spacing: 0.1em;

  --line-height: 1.2;
  --line-height-primary: 26.25px;
  --line-height-lg: 1.64;

  --container-primary: 1110px;
  --container-sm: 540;

  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2);
  --gap-md: calc(var(--gap) * 1.5);
  --gap-lg: calc(var(--gap) * 2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height-primary);
  text-align: left;
}
a {
  text-decoration: none;
}

.container {
  width: min(100% - var(--gap-lg), var(--container-primary));
  margin-inline: auto;
}

.container-sm {
  width: min(100% - var(--gap-lg), var(--container-sm));
}

.header {
  padding-top: 79px;
  padding-bottom: 141px;
  background-color: var(--color-gray-light);
}

.navbar {
  margin-bottom: 138px;
}

.navbar-list {
  display: flex;
  gap: var(--gap-lg);
}

.navbar-link {
  color: var(--color-black);
  letter-spacing: var(--letter-spacing);
  padding: var(--gap-sm) 3px var(--gap-sm) 0;
  line-height: 26.25px;
}

.navbar__link--active {
  color: var(--color-primary);
  font-weight: 500;
}

.navbar__link--default-weight {
  font-weight: 300;
}

.content
{
  display: flex;
  flex-direction: column;
  max-width: 540px;
  align-items: flex-start;
}

.content__title {
  font-size: 3em;
  font-weight: 500;
  line-height: calc(--line-height-primary * 3);
  margin-bottom: 60px;
}
.content__description {
  padding-left: 1px;
  margin-bottom: 57px;
}
.content__link {
  min-width: 225px;
  min-height: 65px;
  color: var(--color-white);
  background-color: var(--color-primary);
  letter-spacing: var(--letter-spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7px;
}
