@import "../variables/variables";
@import "../core/mixins/mixins.scss";

.experience {
  background-color: $color-primary;
  color: $color-white;
  padding: $pading-lg 0 92px 18px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: $gap-md;
  }

  &-item {
    display: flex;
    gap: $gap;
    padding-right: 20px;

    &--padding-sm {
      padding-left: 1px;
      padding-right: 16px;
    }

    &__description {
      display: flex;
      flex-direction: column;
    }

    &__number {
      font-size: 1.3125rem;
      font-weight: $font-weight-lg;
      padding-top: 2px;
      padding-bottom: 1px;
    }

    &__image {
      order: -1;
    }
  }
}

@include respond-to(768px, 1023px) {
  .experience {
    padding: $pading-md 0;
  }
}

@include respond-to(375px, 767px) {
  .experience {
    padding: $pading-sm 0;
  }
}

