@import "../variables/variables";
@import "../core/mixins/mixins.scss";

.section {
  background-color: $color-light;
  padding-top: 113px;
  padding-bottom: 91px;
  padding-left: 12px;

  &__title {
    font-size: 2rem;
    font-weight: $font-weight-lg;
    color: $color-black;
    line-height: 37.5px;
    text-align: center;
    padding-bottom: 39px;
  }

  &__description {
    font-weight: $font-weight-md;
    line-height: $line-height-primary;
    color: $color-secondary;
    text-align: center;
  }
}

@include respond-to(768px, 1023px) {
  .section {
    padding-top: $pading-md;
    padding-bottom: $pading-md;

    &__title {
      font-size: 1.75rem;
      padding-bottom: 35px;
    }
  }
}

@include respond-to(375px, 767px) {
  .section {
    padding-top: $pading-sm;
    padding-bottom: $pading-sm;

    &__title {
      font-size: 1.5rem;
      padding-bottom: 30px;
    }
  }
}
