@import "../variables/variables";
@import "../core/mixins/mixins.scss";

.container {
  width: min(100% - $gap-lg, $container-primary);
  margin-inline: auto;
}

.container--sm {
  width: min(100% - $gap-lg, $container-sm);
}

@include respond-to(375px, 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
