.footer {
  padding: 50px 0 44px;
  background-color: $color-primary;
  color: $color-white;

  &__name {
    font-size: 21px;
    font-weight: $font-weight-lg;
    line-height: 24.61px;
    text-align: left;
    padding-bottom: 11px;
    padding-left: 7px;
  }

  &__copyright {
    font-size: 13px;
    font-weight: $font-weight-md;
    line-height: 21.33px;
    text-align: left;
    padding-left: 7px;
  }
}

@include respond-to(768px, 1023px) {
  .footer {
    padding: 40px 0;
  }
}

@include respond-to(375px, 767px) {
  .footer {
    padding: 30px 0;
  }
}
