@import '_variables';

.content {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  align-items: flex-start;

  &__title {
    font-size: 3rem;
    font-weight: $font-weight-lg;
    line-height: calc($line-height-primary * 3);
    color: $color-black;
    margin-bottom: 34px;
  }

  &__description {
    padding-left: 1px;
    margin-bottom: 56px;
    color: $color-secondary;
    text-align: left;
  }

  &__link {
    min-width: 225px;
    min-height: 65px;
    color: $color-white;
    background-color: $color-primary;
    letter-spacing: $letter-spacing;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
  }
}
