@import '_variables';

.header {
  padding-top: 79px;
  padding-bottom: 141px;
  background-color: $color-gray-light;

  .navbar {
    margin-bottom: 112px;

    &-list {
      display: flex;
      gap: $gap-lg;
    }

    &-link {
      color: $color-black;
      letter-spacing: $letter-spacing;
      padding: $gap-sm 3px $gap-sm 0;

      &--active {
        color: $color-primary;
        font-weight: $font-weight-lg;
      }

      &--weight-md {
        font-weight: $font-weight-md;
      }
    }
  }
}
